*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.site-header{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
}
ul{
    list-style: none;
}
.menu-list{
    display: flex;
    gap: 10px;
    align-items: center;

}
.menu-link{
    text-decoration: none;
    font: bold;
    color: #949494;
    font-size: 22px;
}
#banner-home{
    display: flex;
    gap: 10px;
    align-items: top;
    justify-content: right;
    }
.banner-title{
    position: absolute;
    padding: 30px;
    background-color: rgb(112, 65, 31);
    color: white;
    font-size: 32px;
    border-radius: 10px;
}
.home-bg-image{
    width: 100%;
}
.card {
    background-color: #fff;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.783);
  }
  .card img {
    width:60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
    margin-left: 20%;
    margin-top: 5%;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px;
  }
  section{
    margin-top: 20px;
    display: flex;
    gap: 15%;
    justify-content: center;
  }
  .title-itens{
    margin-top: 17px;
    background-color: rgb(112, 65, 31);
    justify-content: center;
    text-align: center;
    border-radius: 5px;

  }
  .grid-images{
    display: flex;
    justify-content: center;
  }
footer {
  background-color: gray;
  color: black;
  padding: 20px 0;
  font-size: 1.6rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 20px;
}

.footer-form, .footer-contact {
  flex: 1;
  margin: 0 20px;
}

.footer-form h3, .footer-contact h3 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-form form {
  display: flex;
  flex-direction: column;
}

.footer-form label {
  margin-bottom: 5px;
}

.footer-form input {
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.4rem;
}

.footer-form button {
  padding: 10px;
  font-size: 1.6rem;
  background-color: ;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(112, 65, 31);
}

.footer-contact p {
  margin-bottom: 10px;
}